<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}My Django Blog{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a> | |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor%}
      </ul>
      {% endif %} {% block content %} {% endblock content %}
    </main>
  </body>
</html>
